body{
margin: 0;
padding: 0;
font-style: Times, Times New Roman, serif;
}


/* Nos produits */
.baniere {
  width: 100%;
  height: 300px;
  position: relative;
  text-align: center;    
  color: whitesmoke;
  font-family: Georgia, serif;
  background-image: url("photo_produit_1/fond.jpg");
  background-attachment: fixed;
}
/*
.contenant img{

  width: 100%;
  height: 500px;
  object-fit: cover;

  }*/

.texte_centrer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }



/* baniere produits */



section{
    display: flex;
    flex-wrap:wrap;
    font-family: palatino;
    /*justify-content: center;
    align-items: center;*/
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    width:100%;
    background-color: rgb(245, 245, 245);
    
}

section .link a{
    color: black;
    /*margin-right: 10px;
    
    padding-bottom: 5px;*/
}
section .link a:link 
{ 
 text-decoration:none; 
}

section .link a:hover {
    color: brown;
    font-size : 22px
    }

section .link{
    width: 100%;
    padding: 40px;
    padding-left: 13%;
    /*padding-left: 200px;*/
    margin-bottom: 40px;
    margin-top: 40px;
    background-color: rgb(245, 245, 245);

}

section .link .item{
    margin: 0 auto;
    text-align: center;
    width: 250px;
    float: left;
    background-color: rgb(245, 245, 245);
}
section .link .item img{
    width: 70px;
    height: 30%;
}

/*contenue*/

.contenant {
  width: 100%;
  height: 400px;  
  color: black;
  font-family: Georgia, serif;
  background-attachment: fixed;
  padding: 25px;
  background-color: whitesmoke;
}

.contenant2 {
  width: 100%;
  height: 400px;  
  color: black;
  font-family: Georgia, serif;
  background-attachment: fixed;
  padding: 25px;
    background-color:rgb(126, 9, 9);
}

.cadre {
    position: relative;
    margin: 0 auto;
    width: 70%;
    height: 200px;

}
.cadre img{
    padding-top:20px ;
  width: 40%;
  height: 170px;
  object-fit: cover;
  border-radius: 10px;

}

.text{
    background-color: antiquewhite;
    position: absolute ;
    width: 70%;
    height: 75%;
    border-radius: 10px;
    top: 90%;
    left: 70%;
    font-family: sans-serif;
    transform: translate(-50%, -50%);
  }

.text h1 {
    margin-top: 10px;
    margin-bottom: 10px;
  text-align: center;
  font-family: FontName;
  text-shadow:#0d0203 0 -1px 0,
#e02a47 2px 2px 0,
#ca3333 3px 3px 0,
#770a0c 4px 4px 0,
#333 5px 5px 10px;color:#ffffff;
height: 1px;

}


p{
    margin-left: 20px;
    margin-top: 26px;
    margin-bottom: 20px;
    text-align: center 
}

button{
    margin-left: 45%;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: brown;
    color: antiquewhite;
    margin-top: -15px;
    font-size : 14px;
    font-family: FontName;

}
button:hover{
    background-color: darkred;
}